/* layout for MEI Guidelines */
p, div.p {}

span.att {
    font-weight: bolder;
}

span.att:before {
    content: "@";
}

span.caption {
    font-style: italic;
}

span.val:before {
    content: "'";
}

span.val:after {
    content: "'";
}