.specPage {
  /* Codeblock */
  /* Schematron Constraints */;
}

.specPage .facet {
	padding: 1rem 0;
}

.specPage .facet > .label {
	float: left;
	width: 6rem;
	padding: 0;
	background: none;
	line-height: 1.5;
	font-weight: 500;
}

.specPage .facet > .statement {
	margin-left: 6rem;
}

.specPage .facet > .statement > .tab {
	margin-top: 0;
}

.specPage .facet > .statement > .tab .tab-item a {
	padding-top: 0;
}

.specPage .facet > .statement p {
	margin: 0;
}

.specPage .facet > .statement p + p {
	margin: 1rem 0 0;
}

.specPage .facet > .statement .emptyStatement {
	font-size: .7rem;
	font-weight: 400;
}

.specPage .facet > .statement .dtBox .ident {
	display: inline-block;
	padding: 0 0.5rem 0 0;
	font-weight: 400;
}

.specPage .facet > .statement .dataValue.ident {
	display: inline-block;
	width: 6rem;
	text-align: right;
	padding: 0 0.8rem 0 0;
}

.specPage .facet > .statement .facetTabbedContent {
	display: none;
        /*&#attDisplay_compact, &#containedByDisplay_compact, &#containsDisplay_compact {
                    padding: .3rem .6rem .3rem .6rem;

                    .ident {
                        font-weight: 300;
                        display: inline-block;
                    }
                }

                &.constraintsDisplay {
                    padding: .3rem .6rem .3rem .6rem;
                }*/;
}

.specPage .facet > .statement .facetTabbedContent.active {
	display: block;
}

.specPage .facet > .statement .facetTabbedContent#attributes_tabbedContent_compact .ident {
	font-weight: 400;
}

.specPage .facet > .statement .facetTabbedContent .constraint {
	margin-bottom: 1rem;
}

.specPage .facet + .facet {
	border-top: .5px solid #666666;
}

.specPage .facet.letter {
	min-height: 5rem;
}

.specPage .facet.letter .label {
	font-size: 3rem;
	line-height: .7;
}

.specPage .facet.letter a.overviewLink {
	display: inline-block;
	padding: 0 .2rem;
}

.specPage .facet.letter a.overviewLink.attribute {
	padding: 0 .3rem;
}

.specPage .ident {
	font-weight: bold;
}

.specPage .chapterLinksBox {
	font-size: .75rem;
	font-weight: 400;
}

.specPage .chapterLinksBox:before {
	display: block;
	content: 'Referenced in Chapters:';
	margin-top: .5rem;
	font-weight: 500;
}

.specPage .chapterLinksBox .chapterLink.desc {
	font-weight: 500;
}

.specPage .chapterLinksBox .chapterLink + .chapterLink {
	padding-left: .5rem;
}

.specPage .attributeDef {
	padding: .3rem .6rem .3rem 1.6rem;
	border-radius: .3rem;
	text-indent: -1rem;
}

.specPage .attributeDef .attributeUsage {
	font-size: .7rem;
	font-weight: 400;
	font-style: italic;
}

.specPage .attributeDef .attributeDesc {
	font-size: .7rem;
	font-weight: 400;
}

.specPage .attributeDef .attributeValues {
	font-size: .7rem;
	font-weight: 400;
}

.specPage .attributeDef:nth-of-type(2n+1) {
	background-color: #f5f5f5;
}

.specPage .memberOf .groupDesc {
	padding-left: .5rem;
	font-size: .7rem;
	font-weight: 400;
}

.specPage .classBox {
	border: .5px solid #999999;
	padding: 0 0 0 .5rem;
	margin: .5rem 0;
	overflow: visible;
}

.classBox .classBox {
	border-right: 0;
}

.specPage .classBox .classHeading {
	background-color: #f5f5f5;
	padding: 0 .5rem .1rem .5rem;
	margin-left: -.5rem;
	border-bottom: .5px solid #999999;
}

.specPage .classBox .classHeading .classLabel {
	font-weight: 500;
}

.specPage .classBox .classHeading .classDesc {
	display: inline;
	padding-left: .5rem;
	font-size: .7rem;
	font-weight: 500;
}

.specPage .classBox > .attributes.class {
	margin-left: 0;
}

.specPage .classBox .attributeDef .attributeUsage {
	display: none;
}

.specPage .classBox .attributeDef .attributeDesc {
	font-size: .7rem;
}

.specPage .classBox .attributeDef .attributeValues {
	display: none;
}

.specPage .classBox .attributeDef:nth-of-type(2n+1) {
	background-color: #ffffff;
}

.specPage .classBox .elementRef {
	padding: .3rem .6rem .3rem 1.6rem;
	text-indent: -1.2rem;
	line-height: 1.2;
	margin-bottom: .5rem;
}

.specPage .classBox .elementRef .link_odd_elementSpec {
	font-weight: 500;
}

.specPage .classBox .elementDesc {
	padding-left: .5rem;
	font-size: .7rem;
	font-weight: 400;
}

.specPage .classBox .elementDef {
	padding: .3rem .6rem .3rem 1.6rem;
	border-radius: .3rem;
	text-indent: -1rem;
}

.specPage .code code {
	background-color: #f5f5f5;
	border: .5px solid #cccccc;
}

.specPage .indent1 .indent {
	margin-left: 2ch;
}

.specPage .element {
	color: #000080;
	color: #4767b1;
}

.specPage .element .attribute {
	color: #008080;
	color: #f98859;
}

.specPage .element .attributevalue {
	color: #dd1144;
	color: #a14415;
}

.specPage .comment {
	color: #999988;
	color: #208420;
	font-style: italic;
}

.specPage .schematronText {
	margin-bottom: .5rem;
}

.facetTabbedContent .classItem .breadcrumb {
    margin: 0;
    padding: 0;
}

.facetTabbedContent .classItem .breadcrumb .step {
    display: inline;
    font-size: .65rem;
    
}

.facetTabbedContent .classItem .breadcrumb .step + .step:before {
    content: '→';
    margin: 0 .5em;
}

.headingNumber {
    padding-right: .3em;
}

h2, h3 {
    padding-top: 70px;
    margin-top: -60px;
}

.tile-icon .font-icon {
    font-weight: 300;
}

.tile .tile-title span.att, #attributes_compact span.attribute {
    font-weight: 400;
}

span.att {
    font-weight: bolder;
}

span.caption {
    font-style: italic;
}

span.val:before {
    content: "'";
}

span.val:after {
    content: "'";
}

#versionWarning {
    background-color: #ffd429;
    position: relative;
    top: -20px;
    padding: 4px 10px;
    z-index: 1;
}

#versionWarning .icon {
    color: #000000;
}

#guidelinesVersion .gitLink {
    padding-left: .2rem;
}

img.graphic {
    max-width: 100%;
}

.searchPreview {
    font-size: .7rem;
    color: #999999;
    margin-left: 1rem;
    margin-bottom: .3rem;
}

.searchPreview .match {
    font-weight: bold;
    color: #666666;
}

.specsLayout > .col-4 .tipue_search_button .tipue_search_icon {
    top: 0 !important;
}
