<div xmlns="http://www.w3.org/1999/xhtml" id="mainframe" class="oneColumn"><div id="content"><h1>Events</h1><ul class="headedEntriesList"><li><h1>Release of MEI 2010-05</h1><div class="subTitle">31<sup>st</sup> May 2010</div><p>
                 The MEI Council is pleased to announce the first collaboratively-designed method for encoding the 
                 intellectual and physical characteristics of music notation documents and their scholarly editorial 
                 apparatus. MEI has the ability to manage complex source situations and will dramatically improve the 
                 search, retrieval and display of notated music online, benefiting music scholars and performers. 
                 Because of MEI’s software independence, the data format defined by the schema also serves an archival function.
              </p><p>
                 Read the full <a href="/downloads/MEI2010-05pressRelease.pdf">press release</a>.
              </p></li><li><h1>Digital Humanities Conference</h1><div class="subTitle">7<sup>th</sup> – 10<sup>th</sup> July 2010, King's College London</div><p>
                    During <a href="http://dh2010.cch.kcl.ac.uk/">DH2010</a> MEI will be represented twice: Raffaele Viglianti will present a poster about "Critical Editing of Music in the Digital Medium: an Experiment in MEI." 
                    This will be a demonstration of the experience he made with MEI during his dissertation titled "Digital Editing of Music: A Prototype for Syrinx (La Flûte de Pan) by Claude Debussy", finished 2009.
                </p><p>
                    Additionally, Raffaele Viglianti and Johannes Kepper will present a paper called "A Data Model for Digital Musicology and its Current State – The Music Encoding Initiative", which will introduce the first official release 
                    of MEI to a wider audience. 
                </p></li><li><h1>Workshop on ODD</h1><div class="subTitle">25<sup>th</sup> - 27<sup>th</sup> August 2010, Musikwissenschaftliches Seminar Detmold / Paderborn</div><p>
                    The <a href="http://www.tei-c.org/Activities/SIG/Music/">TEI Music SIG</a> has been granted by the TEI to explore the possibility of expressing MEI in <a href="http://wiki.tei-c.org/index.php/ODD">ODD</a>. This will allow a closer
                    connection of these two schemes and improve the situation for scholars having to encode mixed content. In late August, Johannes Kepper, Sebastian Rahtz, Daniel Röwenstrunk, 
                    Perry Roland and Raffaele Viglianti will meet in Detmold to start working on this conversion. 
                </p></li><li><h1>Annual Meeting of the Society for Music Theory</h1><div class="subTitle">4<sup>th</sup> - 7<sup>th</sup> November 2010, Indianapolis, Indiana</div><p>
                    Erin Mayhood and Perry Roland will present "Toward Electronic Music
                    Editions: The Music Encoding Initiative" at the <a href="http://www.ams-net.org/indianapolis/">2010 annual meeting</a> of
                    the Society for Music Theory.
                </p></li></ul></div></div>