@page:first {
	margin: 3cm 1.2cm 3cm;
	border 0;
	padding: 0;
	size: US-Letter;
	
	@bottom-right {
		border-top: none !important;
		content: '' !important;
	}
	
	@top-right {
		border-bottom: none !important;
		content: '' !important;
	}
}

@page begin {
	margin: 3cm 1.2cm 3cm;
	border 0;
	padding: 0;
	size: US-Letter;
}

@page begin:left {
	@bottom-left {
		margin: 1cm 0.3cm 1cm;
		padding-top: 0;
		border-top: 0.5pt solid #000000;
		font-family: 'Open Sans';
		font-size: 10pt;
		content: counter(page, lower-roman) !important;
	}
}

@page begin:right {
	@bottom-right {
		margin: 1cm 0.3cm 1cm;
		padding-top: 0;
		border-top: 0.5pt solid #000000;
		font-family: 'Open Sans';
		font-size: 10pt;
		content: counter(page, lower-roman) !important;
	}
}

@page:left {
	margin: 3cm 1.2cm 3cm;
	border: 0;
	padding: 0;
	size: US-Letter;
	
	@bottom-left {
		margin: 1cm 0.3cm 1cm;
		padding-top: 0;
		border-top: 0.5pt solid #000000;
		font-family: 'Open Sans';
		font-size: 10pt;
		content: counter(page);
	}
	
	@top-left {
		content: 'MEI Guidelines';
		border-bottom: 0.5pt solid #000000;
		font-family: 'Open Sans';
		font-size: 10pt;
		margin: 1cm 0.4cm 1.6cm;
		padding: 0 0 0.2cm;
    }
    
    @top-right-corner {
		content: string(runningHeader);
		font-family: 'Open Sans';
		font-size: 9pt;
		margin: 1cm 0.4cm 1.6cm -15cm;
		padding: 0 0 0.2cm;
		color: #666666;
    }
}

@page:right {
	margin: 3cm 1.2cm 3cm;
	border: 0;
	padding: 0;
	size: US-Letter;
	
	@bottom-right {
		margin: 1cm 0.3cm 1cm;
		padding-top: 0;
		border-top: 0.5pt solid #000000;
		font-family: 'Open Sans';
		font-size: 10pt;
		content: counter(page);
	}
	
	@top-right {
		content: string(doctitleNumber) '   ' string(doctitle);
		border-bottom: 0.5pt solid #000000;
		font-family: 'Open Sans';
		font-size: 10pt;
		margin: 1cm 0.4cm 1.6cm;
		padding: 0 0 0.2cm;
    }
}

h1 { 
	page-break-before: always;
}

h2 { 
	page-break-before: always;
}

h1 + p + div > h2:first-child, #tei_back h1 + div > h2 {
    page-break-before: avoid; 
}

strong.listHead {
    page-break-after: avoid;
}

h2 span.head {
	string-set: doctitle content();
}

h2 span.headingNumber {
	string-set: doctitleNumber content();
}

li.toc {
    margin-left: -2em;
}

.toc_back {
	page-break-after: avoid;
}

.beginPages {
	page: begin;
	counter-reset: page 1;
}

.alsoBegin {
	page: begin;
}

.regularPage {
	counter-reset: page 1;
}

h1 { prince-bookmark-level: 1 }
h2 { prince-bookmark-level: 2 }
h3 { prince-bookmark-level: 3 }
h4 { prince-bookmark-level: 4 }
h5 { prince-bookmark-level: 5 }
h6 { prince-bookmark-level: 6 }

.toc_front li.toc a.toc::after {
    content: target-counter(attr(href), page, lower-roman);
    float: right;
    color: #000000 !important;
}

li.toc a.toc::after {
    content: target-counter(attr(href), page, decimal);
    float: right;
    color: #000000 !important;
}

#roleInfo {
    string-set: runningHeader content();
}

/**Layout Information**/

body {
	margin: 0;
	padding: 0;
	font-size: 10.5pt;
	line-height: 130%;
	font-weight: 300;
	font-family: 'Open Sans', 'Gill sans', STIXGeneral, 'Myriad Pro', 'Myriad pro', 'Comic Sans', 'Times New Roman', serif;
}

h1, h2, h3, h4, h5, h6, p, div, table, ol, ul, pre {
    clear: both;
}

h1 {
    margin-top: -1em !important;
    font-size: 20pt;
    font-weight: 700;
}

h2 {
    font-size: 16pt;
    font-weight: 700;
}

pre,div.pre,div.pre_eg,pre.eg,div.eg {
	font-size: 10.5pt;
	border: 0.5pt solid #666666;
	border-radius: 0.5em;
	font-family: 'Anonymous Pro', Inconsolata, monospace;
	/*margin-bottom: 3.2em;*/
	/*white-space: pre-line;*/
	white-space: normal;
	background-color: #e5e5e5;
	position: relative;
}

div.pre.egXML_invalid {
    /*background-color: #ffe5e5;*/
    background-image: linear-gradient(to right,#ff9999, #ff9999 .8em,#e5e5e5 .801em,#e5e5e5);
}

div.pre.egXML_valid {
    /*background-color: #e5ffe5;*/
    background-image: linear-gradient(to right,#99ff99, #99ff99 .8em,#e5e5e5 .801em,#e5e5e5);
}

div.pre.egXML_feasible {
    /*background-color: #e5ffe5;*/
    background-image: linear-gradient(to right,#83d8ff, #83d8ff .8em,#e5e5e5 .801em,#e5e5e5);
}

pre .element,div.pre .element,div.pre_eg .element,pre.eg .element,div.eg .element {
    color: #4767b1;
    font-weight: 700;
}

pre .attribute,div.pre .attribute,div.pre_eg .attribute,pre.eg .attribute,div.eg .attribute {
    color: #f98859;
    font-weight: 100;
}

pre .attributevalue,div.pre .attributevalue,div.pre_eg .attributevalue,pre.eg .attributevalue,div.eg .attributevalue {
    color: #a14415;
    font-weight: 400;
}

pre .comment,div.pre .comment,div.pre_eg .comment,pre.eg .comment,div.eg .comment {
    color: #208420;
}

pre .namespace,div.pre .namespace,div.pre_eg .namespace,pre.eg .namespace,div.eg .namespace {
    color: #8b26c9;
}

pre .indent1,div.pre .indent1,div.pre_eg .indent1,pre.eg .indent1,div.eg .indent1 {
    margin-left: .3em;
}

pre .indent2,div.pre .indent2,div.pre_eg .indent2,pre.eg .indent2,div.eg .indent2 {
    margin-left: .6em;
}

pre .indent3,div.pre .indent3,div.pre_eg .indent3,pre.eg .indent3,div.eg .indent3 {
    margin-left: .9em;
}

pre .indent4,div.pre .indent4,div.pre_eg .indent4,pre.eg .indent4,div.eg .indent4 {
    margin-left: 1.2em;
}

pre .indent5,div.pre .indent5,div.pre_eg .indent5,pre.eg .indent5,div.eg .indent5 {
    margin-left: 1.5em;
}

pre .indent6,div.pre .indent6,div.pre_eg .indent6,pre.eg .indent6,div.eg .indent6 {
    margin-left: 1.8em;
}

pre .indent7,div.pre .indent7,div.pre_eg .indent7,pre.eg .indent7,div.eg .indent7 {
    margin-left: 2.1em;
}

pre .indent8,div.pre .indent8,div.pre_eg .indent8,pre.eg .indent8,div.eg .indent8 {
    margin-left: 2.4em;
}

pre .indent9,div.pre .indent9,div.pre_eg .indent9,pre.eg .indent9,div.eg .indent9 {
    margin-left: 2.7em;
}

pre .indent10,div.pre .indent10,div.pre_eg .indent10,pre.eg .indent10,div.eg .indent10 {
    margin-left: 3.0em;
}

pre .indent11,div.pre .indent11,div.pre_eg .indent11,pre.eg .indent11,div.eg .indent11 {
    margin-left: 3.3em;
}

pre .indent12,div.pre .indent12,div.pre_eg .indent12,pre.eg .indent12,div.eg .indent12 {
    margin-left: 3.6em;
}

.wovenodd {
	width: 100%;
	font-size: 9pt;
}

.wovenodd-col2 {
	
}

.titlePage {
	font-size: 9pt !important;
	font-weight: 400;
	border: none !important;
	border-top: none !important;
	border-bottom: none !important;
}

.titlePage .versionInfo {
    margin-top: 2cm;
    font-size: 12pt;
}


.titlePage .meiLogo {
    margin: 3cm 0;
}

.titlePage img {
	width: 6cm;
	margin: 0.3cm auto;
}

.titlePage .copyright {
    margin-top: 17cm;
}

.titlePage .license {
    margin: 1cm auto 0;
    font-style: normal;
    width: 12cm;
    
}

.titlePage .byline.editors {
    margin-top: 7cm;
}

#agencyTable {
	margin: 0 auto;
	border: 0;
}

#agencyTable td {
	border: 0;
}

.titlePage #agencyTable img {
	margin-top: 0cm;
	width: 2cm !important;
}

.docTitle {
	font-size: 20pt !important;
}

.revision {
	margin-top: -0.6cm;
}

.docImprint {
	font-size: 9pt !important;
}

.reverseSolidus {
	font-family: STIXGeneral !important;
}
/*
.pre .element {
	color: #333333 !important;
}

.pre .attributevalue {
	color: #666666 !important;
}

.pre .comment {
	color: #828282 !important;
}*/

ul {
	margin-bottom: 0.5cm;
}

li {
	margin: 0.15cm 0cm;
}

table.attDef td.odd_label {
	width: 15% !important;
}

.wovenodd-col1 span.label {
	display: block;
}

img {
	max-width: 18.5cm !important;
	height: auto;
	margin-bottom: 0.5cm;
}

dd img {
    margin-bottom: 0;
}

table.wovenodd img {
    max-width: 15cm !important;
}

figure img {
    margin-bottom: 0;
}

figure {
    margin-bottom: 0.7cm;
}

div + figcaption {
    margin-top: -0.2cm;
}

div.specChild {
	margin-left: 0 !important;
	text-indent: 0 !important;
}

span.specList-classSpec, span.specList-elementSpec {
    padding-right: .5em;
}

ul.specList table.specDesc {
    margin: 0.5em 0 1em 1em;
}

ul.specList table.specDesc .Attribute {
    padding-right: 0.5em;
}

dl dt {
    width: 4.2cm;
    margin-left: 0.5cm;
    min-height: 0.01cm;
    text-align: right;
    float: left;
    clear: both;
    margin-bottom: 0.8em;
}

dl dd {
    min-height: 1.3em;
    width: 13.5cm;
    margin-left: 5cm;
    margin-bottom: 0.8em;
}

table.wovenodd dl dd {
    width: 7.9cm;
}

ol {
    margin-bottom: 1em;
}

table.wovenodd div.pre {
    width: 14.8cm;    
}

table.wovenodd .attributeDef {
    margin-bottom: .1cm;
    padding-left: .3cm;
    text-indent:-.3cm;
}

table.wovenodd .attributeDef .attribute {
    font-weight: 500;
    color: #333333;
}

table.wovenodd .attributeDef .attributeUsage {
    font-style: italic;
}

table.wovenodd .attributeDef .attributeClasses {
    white-space: nowrap;
}

table.wovenodd .attributeDef .attributeClasses:before {
    content:'[';
}

table.wovenodd .attributeDef .attributeClasses:after {
    content:']';
}
