body {
	background-color: #6E6955;
	font-family: Arial;
	font-size: 0.9em;
	margin: 0px;
}

#outerframe {
	width: 840px;
	margin: 0px auto;
}

#header {
	width: 840px;
	height: 176px;
	
	position: absolute;
	top: 0px;
	left: center;
	
	background-image: url(../pix/backgroundTop.png);
	background-repeat: no-repeat;
	background-position: center 2px;
	z-index: 100;
}

#logo {
	background-image: url(../pix/meiLogo.png);
	background-position: 20px 20px;
	background-repeat: no-repeat;
	width: 150px;
	height: 100px;
}

#header h1 {
	font-family: "Courier New", Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px 3px #333333;
	font-size: 1.55em;
	/*font-size: 2.60em;*/
	font-weight: 400;
	color: #333333;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 31px;
	/*top: 16px;*/
	left: 160px;
}

#header h2 {
	font-family: "Courier New", Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px 3px #333333;
	font-size: 1.25em;
	font-weight: 400;
	color: #333333;	
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 60px;
	left: 320px;
}

#headmenu {
	position: absolute;
	top: 101px;
	left: 10px;
	width: 820px;
	height: 25px;
}

#headmenu a {
    text-decoration: none;
    color: inherit;
}

#headmenu .tab {
	float: left;
	margin: 0px 0px 0px 0px;
	height: 19px;
	padding: 4px 12px;
	border: 0px solid #666666;
	border-bottom: none;
	border-right: 0px dotted #cccccc;
	color: #FAF4D7;
	color: #f5f5f5;
	font-family: "Courier New";
	font-weight: 100;
	/*
	background-image: -moz-linear-gradient(top, #ada787, #d3cba4);
	background-image: -moz-linear-gradient(top, #838ccc, #aeaecc);
	background-image: -moz-linear-gradient(top, #7a755f, #faf4d7);
	background-image: -moz-linear-gradient(top, #b9b391, #faf4d7);
	background-image: -moz-linear-gradient(top, #aba283, #faf4d7);
	*/
	
	cursor: pointer;
}

#headmenu .tab.active {
	/*background-image: -moz-linear-gradient(top, #ede4b8, #faf4d7);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ada787', EndColorStr='#ede4b8')"; 
	border-bottom: 1px solid #faf4d7;
	margin-bottom: -1px;
	height: 18px;
	*/
	/*
	background-color: rgba(250,244,215,0.6);
	background-color: rgba(164,171,237,0.9);
	color: #4c4733;
	color: #333333;
	color: #f5f5f5;
	border-bottom: 1px solid rgba(250,244,215,0.2);
	border-top: 1px solid rgba(250,244,215,0.2);
	margin: -1px 0px;
	margin: -1px 0px;
	height: 21px;
	padding: 4px 12px;*/
	background-image: url(../pix/active.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}

#submenu {
	position: absolute;
	top: 131px;
	left: 10px;
	width: 808px;
	height: 17px;
    padding-left: 12px;
}

#submenu a {
    text-decoration: none;
    color: inherit;
}

#submenu .tab {
	float: left;
	padding: 0px 12px 0px 0px;
	font-family: "Courier New";
	font-size: 0.95em;
	height: 27px;
	cursor: pointer;
}

#submenu .tab.active {
	background-image: url(../pix/activeSub.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}

#submenu .tab:before {
	content: "|";
	padding-right: 12px;
}

#submenu .tab:first-child:before {
	content: "";
	padding-right: 0px;
	display: none;
}

#header #search {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 180px;
	height: 24px;
	background-image: url(../pix/searchBox.png);
	background-repeat: no-repeat;
}

#search #searchInput {
	height: 20px;
	width: 150px;
	margin: 0px;
	padding: 2px 5px 2px 5px;
	border: 0px;
	background-color: transparent;
}

#search #searchIcon {
	position: absolute;
	top: 2px;
	right: 2px;
	height: 20px;
	width: 18px;
	background-color: transparent;
	cursor: pointer;
}

#mainframe {
	width: 820px;
	
	position: absolute;
	top: 176px;
	bottom: 65px;
	left: center;

	overflow: hidden;	

	padding: 10px;
	
	background-image: url(../pix/backgroundCenter.png);
	background-repeat: repeat-y;
	z-index: 150;
}

#mainframe.twoColumns #leftColumn {
	width: 200px;
	margin: 0px 10px 0px 35px;
	padding-right: 10px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	
}

#mainframe.twoColumns #leftColumnContent {
	width: 203px;
	position: absolute;
	top: 70px;
	bottom: 0px;
	left: 0px;
	overflow-y: auto;
}

#mainframe.twoColumns #content {
	position: absolute;
	top: 0px;
	right: 31px;
	bottom: 0px;
	width: 545px;
	overflow-y: auto;
}

#mainframe.oneColumn #leftColumn {
	display: none;
}

#mainframe.oneColumn #content {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 35px;
	right: 35px;
	overflow-y: auto;
}

#content {	
	padding: 0px 10px 0px 0px;	
}

#leftColumn h1 {
	margin: 0px 0px 10px 0px;
	font-size: 1.4em;
	font-weight: bold;
	font-family: "Courier New", "Times New Roman", serif;
}

#leftColumn ul {
	padding: 0px 0px 0px 10px;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	font-family: "Courier New", "Times New Roman", serif;
}

#leftColumn #filter {
	position: relative;
	margin-right: 5px;
	width: 203px;
	height: 22px;
	background-image: url(../pix/searchTags.png);
	background-repeat: no-repeat;
}

#filter #filterInput {
	height: 18px;
	width: 173px;
	padding: 2px 5px 2px 5px;
	border: 0px;
	background-color: transparent;
}

#filter #filterIcon {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 22px;
	width: 20px;
	background-color: transparent;
	cursor: pointer;
}

#footer {
	color: #666666;
	text-align: center;
	width: 840px;
	padding-top: 15px;
	height: 50px;
	font-size: 0.8em;

	position: absolute;
	bottom: 0px;
	left: center;

	background-image: url(../pix/backgroundBottom.png);
	background-repeat: no-repeat;
}

#footer a.footerLink, a.footerLink:active, a.footerLink:visited {
	color: #666666;
	text-decoration: none;
}

#footer a.footerLink:hover {
	text-decoration: underline;
}


/**TAG LIBRARY************************/

#leftColumnContent ul {
    font-family: "New Courier", Courier, Arial, sans-serif;
    
}

#leftColumnContent .tagMenu {
    padding: 2px 0px 1px 10px;
    margin: 0px 0px 0px -10px;
    width: 165px;
    cursor: pointer;
}

#leftColumnContent .tagMenu.marked {
    background-color: #ada787;
    padding: 1px 0px 0px 9px;
    border: 1px solid #666666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#leftColumnContent .tagMenu.selected, #leftColumnContent .tagMenu.marked.selected {
    background-color: #6a84ec;
    padding: 1px 0px 0px 9px;
    border: 1px solid #666666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

img.tagLibraryPic {
    width: 500px;    
}

#content .tagDoc p {
    margin: 0px 30px 30px 30px; 
    word-wrap: break-word;
}

#content .tagDoc a {
    color: #4454b5;
    text-decoration: none;
    font-family: "New Courier", Courier, Arial, sans-serif;
}

#content .tagDoc a:before {
    content: "<";
    font-family: "New Courier", Courier, Arial, sans-serif;
}

#content .tagDoc a:after {
    content: ">";
    font-family: "New Courier", Courier, Arial, sans-serif;
}

#content .tagDoc ul {
    list-style-type: none;
    margin: 0px 30px 30px 30px;
    padding: 0px;
}

#content .tagDoc ul li {
    margin: 0px 0px 0px;
    padding: 0px;    
}

#content .tagDoc ul li p {
    margin: 0px 0px 20px 0px;
    padding: 0px;
    display: inline;
}

#content .tagDoc ul li p span.attributeName {
    color: #666666;
    font-family: "New Courier", Courier, Arial, sans-serif;
}

#content .tagDoc ul li p span.attributeName:before {
    content: '@';
}

#content .tagDoc ul li p span.description {
    display: block;
    margin: 5px 0px 15px 20px;
    
}

/**TAG LIBRARY END********************************/

/**CONTENT****************************************/

#content h1, #content h2 {
	margin: 0px 0px 10px 0px;
	font-size: 1.4em;
	font-weight: bold;
	font-family: "Courier New", "Times New Roman", serif;
}

#content h3 {
	margin: 0px 0px 10px 0px;
	font-size: 1.2em;
	font-weight: bold;
	font-family: "Courier New", "Times New Roman", serif;
}

#content p {
	margin: 0px 30px 10px 30px;
}

#content ul {
    margin: 0px 45px 10px;
    padding: 0px;
    list-style-type: disc;
    list-style-position: outside;
}

#content ul li {
    margin: 0px 0px 3px 0px;
    padding: 0px;
}

#content ul.publicationsList {
    margin: 0px 30px 10px 30px;
    padding:0px;
    list-style-image: url(../pix/list_Dash.png);
    list-style-position: outside;
}

#content ul.publicationsList li {
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

#content .headedEntriesList {
    margin: 0px 30px;
    padding: 0px;
    list-style-type: none;
    list-style-image: none;
}

#content .headedEntriesList li {
    margin: 0px 0px 25px;
    padding: 0px;
}

#content .headedEntriesList li h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

#content .headedEntriesList li .subTitle {
    color: #666666;
    font-size: 0.9em;
    margin: -3px 0px 10px;
}

#content .headedEntriesList li .subTitle sup {
    font-size: 0.8em;
    vertical-align: 0.5em;
}

#content .headedEntriesList li p {
    margin: 0px 0px 5px 10px;
    padding: 0px;
}

span.mono {
    font-family: "New Courier", Courier, Arial, sans-serif;
    font-size: 1em;
}

div.code {
    margin: 10px 30px 10px 30px;
    padding: 10px;
    background-color: #eeeeee;
    border: 1px solid #999999;
    font-family: "New Courier", Courier, Arial, sans-serif;
    font-size: 0.95em;
}

div.downloads {
    margin: 10px 30px 10px 30px;    
}

div.downloads div.downloadLink {
    display: block; 
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    border: 1px solid #999999;
    background-color: #e5e5e5;
    padding: 2px 10px;
}

div.downloads div.linkDesc {
    margin: 2px 0px 20px 11px;
    font-size: 0.9em;
}

#content a {
    text-decoration: none;
    color: #4767b1;
}

img.floatLeft {
    border: 0px;
    float: left;
    margin: 0px 10px 10px 0px;
}

img.floatRight {
    border: 0px;
    float: right;
    margin: 0px 0px 10px 10px;
}

img.clear {
    clear: both;
}

img.block {
    display: block;
    margin: 10px auto;
}

/**CONTENT END****************************************/

/**SEARCH RESULTS****************************************/

#content .resultPage {
    margin: 0px 30px 20px 30px;
}

#content .resultPage .pageLink {
    display: block;
    float: left;
    clear: both;
    width: 200px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

#content .resultPage p {
    
    width: 520px;
    margin: 0px 0px 3px 200px;
    text-align: center;
}

#content .resultPage p .hi {
    color: #000000;
    background-color: #e1e7ff;
    padding: 0px 2px;
    border: 1px solid #666666;
    margin: 0px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}

/**SEARCH RESULTS END****************************************/

/**STEPPEDCONTENT****************************************/

#mainframe.oneColumn #smallToC {
    height: 45px;
    margin: 0px -10px;
    position: absolute;
    top: -1px;
    left: 35px;
	right: 35px;
    padding: 0px 40px;
    background-image: url(../pix/steppedContent_tocBG.png);
    background-position: bottom;
    background-repeat: repeat-x;
    border: 1px solid #999999;    
}

#smallToC #stepRewind {
    position: absolute;
    top: 1px;
    width: 20px;
    height: 30px;
    left: 5px;
    background-image: url(../pix/steppedContent_stepper.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
}

#smallToC #stepRewind.inactive {
    background-position: 0px -30px;
    cursor: default;
}

#smallToC #stepForward {
    position: absolute;
    top: 1px;
    width: 20px;
    height: 30px;
    right: 5px;
    background-image: url(../pix/steppedContent_stepper.png);
    background-repeat: no-repeat;
    background-position: -20px 0px;
    cursor: pointer;
}

#smallToC #stepForward.inactive {
    background-position: -20px -30px;
    cursor: default;
}

#smallToC #breadcrumb {
    font-family: "New Courier", Courier, Arial, sans-serif;
    font-size: 0.9em;
}

#smallToC #breadcrumb .step a {
    text-decoration: none;
    color: #666666;
}

#smallToC #currentPage {
        
}

#smallToC #openFullToC {
    position: absolute;
    bottom: 1px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 0.8em;
    font-family: "New Courier", Courier, Arial, sans-serif;
}

#smallToC #openFullToC a {
    color: #666666;
    text-decoration: none;
}

#mainframe.oneColumn #fullToC {
    position: absolute;
    top: 55px;
    left: 35px;
    right: 35px;
    bottom: -5px;
    background-color: #ffffff;
    overflow-y: auto;
    z-index: 105;
    border-bottom: 1px solid #e5e5e5;
}

#mainframe.oneColumn #steppedContent #content{
    top: 55px;
    z-index: 100;
}

/**STEPPEDCONTENT END****************************************/

/**ReqSpecList BEGIN****************************************/

#reqSpecLinks {
    margin: 40px 00px 0px 20px;
    border-top: 1px solid #999999;
    padding: 0px 10px 10px; 
  
}

#reqSpecLinks .numbering {
    padding-right: 15px;    
}

#reqSpecLinks .rsl_l1 {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}


#reqSpecLinks .rsl_l2 {
    margin-left: 15px;
    margin-top: 10px;  
    font-weight: bold;
}

    
#reqSpecLinks .rsl_l3 {
    margin-left: 30px;
    margin-top: 5px;
}


#reqSpecLinks .rsl_l4 {
    margin-left: 45px;
    margin-top: 5px;
}


#reqSpecLinks .rsl_l5 {
    margin-left: 60px;
    margin-top: 5px;
}

/**ReqSpecList END****************************************/


/**SITEMAP****************************************/

ul.sitemap, ul.sitemap ul {
    list-style-type: none;
    list-style-image: none !important;
    margin: 0px 0px 0px 20px !important;
    padding: 0px !important;
}

ul.sitemap li {
    margin: 0px !important;
    padding: 0px !important;
}

ul.sitemap li a {
    color: #000000;
    text-decoration: none;
}
/**SITEMAP END****************************************/

