/* This is a div around the markup for the child elements */
div.mixedcontent {
	margin-left: 10px;
}

/* The start and end tags get this class */
span.tag {
	color: #3a88d5;
	padding: 1px;
}

/* attribute names */
span.attribute.name {
	color: #f68b56;
}

/* ... and the values */
span.attribute.value {
	color: #a14415;
	margin-left: -8px;
}

span.text {
	color: black;
}

/* namespace declarations */
span.namespace {
	color: #c55;
}

/* tag span elements whose content is collapsed */
span.tag.collapsed {
	background-color: #88e;
	color: white !important;
}

/*div.element {
	margin: 1px 0 2px 0;
	display: inline;
}*/

/* hide attributes and namespace declaration for collapsed elements */
span.tag.collapsed * {
	display: none;
}

span.tag a {
    text-decoration:none;
    color: #3a88d5;
}
