.added, .added a {
    color: #32c20e;
    fill: #32c20e;
}

.removed, .removed a {
    color: #c4370a;
    fill: #c4370a;
}

.casechanged, .casechanged a, .changed, .changed a {
    color: #c47f0a;
    fill: #c47f0a;
}

.unchanged {
    color: #999999;
    fill: #999999;
}

.block {
    display: block;
}

table {
    margin: 0 2rem 3rem;
    border-collapse: collapse;
}

tr:nth-of-type(2n-1) {
    background-color: #f5f5f5;
}

td {
    vertical-align: top;
    padding: .2rem .5rem .5rem .2rem;
}

td.desc {
    width: 30%;
}

.ident {
    font-weight: bold;
}

.module {
    font-style: italic;
}

td.classes ul, td.content ul, td.atts ul {
    margin: 0;
    list-style-type: none;
}

td.classes ul li, td.content ul li, td.atts ul li {
    position: relative;
}

td.classes ul li.added:before, td.content ul li.added:before, td.atts ul li.added:before {
    content: '+';
    position: absolute;
    left: -1rem;
}

td.classes ul li.removed:before, td.content ul li.removed:before, td.atts ul li.removed:before {
    content: '–';
    position: absolute;
    left: -1rem;
}

td.classes ul li.changed:before, td.content ul li.changed:before, td.atts ul li.changed:before {
    content: '~';
    position: absolute;
    left: -1rem;
}

#chartArea {;
    position: fixed;
    background-color: #ffffffe5;
    top: 0;
    right: 0;
    z-index: 5;
    border-left: .5px solid #999999;
    border-bottom: .5px solid #999999;
    border-radius: 0 0 0 8px;
}

.chartBox {
    display: inline-block;
    margin: 1rem;
}

.chartBox label {
    display: block;
    font-size: .8rem;
    text-align: center;
    padding-bottom: .2rem;
}

#headingArea {;
    position: sticky;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    margin:0 -8px;
    padding: 8px;
    z-index: 3;
    height: 10rem;
    display:block;
    box-shadow: 0px 0px 15px  gray;
}

h1 {;
    position: sticky;
    background-color: #ffffff;
    top: 0;
    z-index: 4;
}

h2 {
    position: sticky;
    top: 6.5rem;
    background-color: #ffffff;
    z-index: 4;
}

h3 {
    position: sticky;
    top: 8.5rem;
    background-color: #ffffff;
    z-index: 4;
}